:root {
}

/* HEADER */
header {
  margin-top: 40px;
  margin-bottom: 40px;
}
.contenedor-titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 98vw;
  overflow: hidden;
}
.titulo {
  margin: 0;
  padding: 0 10px;
  font-family: poppins;
  font-size: 70px;
  color: grey;
}
.segunda-palabra-titulo {
  color: lightslategrey;
}

/* MAIN */

/* Entrada tareas */

main{
  padding: 20px 0;
}
.contenedor-agregar-tareas {
  display: flex;
  margin: auto;
  width: 80%;
  max-width: 550px;
}

/* Lista tareas */

.contenedor-lista-tareas {
  display: flex;
  margin: auto;
  width: 80%;
  max-width: 550px;
}
.lista-tareas {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 5px 10px;
  height: 50px;
  border: 1px solid lightgray;
  border-right: 2px solid lightgrey;
  border-top: 1.7px solid lightgrey;
  border-radius: 6px;
  cursor: pointer;
  list-style:none;
}
.contenedor-tarea {
  display: flex;
  flex-direction: row;
}
.nombre-tarea {
  font-family: sans-serif;
  color: grey;
  margin: 0;
}
.estado-tarea {
  margin: 0 5px;
}
.contenedor-opciones-tarea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.boton-opciones-tarea {
  border: none;
}
.icono-opciones-tareas {
  color: grey;
}
.icono-opciones-tareas:hover {
  color: black;
  transition-duration: 0.3s;
}
