:root {
  --color-base-prioridad-3: #f38f97;
  --color-base-prioridad-2: #79afff;
  --color-base-prioridad-1: #6ae3ad;
  --font-principal: poppins;
  --border-radius-general: 10px;
}

/* HEADER */

header {
  margin-top: 40px;
  margin-bottom: 40px;
}
.contenedor-titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 98vw;
  overflow: hidden;
}
.titulo {
  margin: 0;
  padding: 0 10px;
  font-family: var(--font-principal);
  font-size: 50px;
  color: grey;
}
.segunda-palabra-titulo {
  color: lightslategrey;
}

/* MAIN */

/* Entrada tareas */

main {
  padding: 20px 0;
}
.contenedor-tareas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-agregar-tareas {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 550px;
}
.contenedor-mensaje-error {
  display: flex;
  align-items: center;
  position: relative;
}
.icono-error-titulo {
  color: red;
  font-size: 17px;
  margin: 0 5px;
}
.texto-error-titulo-tarea {
  font-size: 12px;
  font-weight: 400;
  margin: 0 5px;
  color: red;
}

/* Menú tareas */

.menu-tareas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 550px;
}
.contenedor-opciones-menu {
  display: flex;
  flex-direction: row;
}
.menu-opcion {
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}
.texto-opcion {
  margin: 0;
  font-family: var(--font-principal);
  color: grey;
}
.texto-opcion:hover {
  color: darkgrey;
  transition-duration: 0.2s;
}
.opcion-activa {
  border-bottom: 2px solid lightgray;
}
.contenedor-boton-agregar-lista {
  margin: 0 10px;
}
.boton-opciones-listas-tareas {
  background-color: transparent;
  border: none;
}
.icono-boton-agregar-lista {
  color: grey;
}
.icono-boton-agregar-lista:hover {
  color: rgb(29, 29, 29);
  transition: 0.2s;
}
.opciones-menu-lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  height: 30px;
}
.opciones-menu-lista i {
  color: grey;
}
.texto-opcion-vaciar-listas {
  display: flex;
  align-items: center;
  height: 80%;
  width: 98%;
  padding: 0 10px;
  border: 0px solid black;
  border-radius: var(--border-radius-general);
  user-select: none;
  color: grey;
  cursor: pointer;
}

/* Lista tareas */

.contenedor-lista-tareas-pendientes,
.contenedor-lista-tareas-completas,
.contenedor-lista-tareas-totales {
  display: flex;
  margin: 20px 0;
  width: 80%;
  max-width: 550px;
}
.lista-tareas-pendientes,
.lista-tareas-completas,
.lista-tareas-totales {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 5px 10px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 6px;
  cursor: pointer;
  list-style: none;
}
.contenedor-estado-tarea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: max-content;
  max-width: 80%;
}
.nombre-tarea {
  text-align: start;
  font-family: sans-serif;
  color: grey;
  margin: 0;
}
.estado-tarea {
  margin: 0 5px;
}
.contenedor-opciones-tarea {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.boton-opciones-tarea {
  background-color: transparent;
  border: none;
}
.icono-opciones-tareas {
  color: grey;
}
.icono-opciones-tareas:hover {
  color: black;
  transition-duration: 0.3s;
}
.bloque-opciones-tareas,
.bloque-borrar-tarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  height: 50px;
}
.bloque-borrar-tarea {
  border: 1px solid transparent;
  border-radius: var(--border-radius-general);
}
.bloque-borrar-tarea:hover {
  border: 1.5px solid lightgrey;
  border-radius: var(--border-radius-general);
  transition-duration: 0.3s;
}
.opciones-tareas {
  display: flex;
  align-items: center;
  height: 80%;
  width: 98%;
  padding: 0 10px;
  border: 0px solid black;
  border-radius: var(--border-radius-general);
  user-select: none;
}
.opcion-prioridad-3 {
  background-color: #f8d7da;
}
.opcion-prioridad-3:hover {
  background-color: var(--color-base-prioridad-3);
  transition-duration: 0.2s;
}
.opcion-prioridad-2 {
  background-color: #cfe2ff;
}
.opcion-prioridad-2:hover {
  background-color: var(--color-base-prioridad-2);
  transition-duration: 0.2s;
}
.opcion-prioridad-1 {
  background-color: #d1e7dd;
}
.opcion-prioridad-1:hover {
  background-color: var(--color-base-prioridad-1);
  transition-duration: 0.2s;
}

.prioridad-3 {
  background-color: var(--color-base-prioridad-3);
  transition-duration: 0.2s;
}
.prioridad-2 {
  background-color: var(--color-base-prioridad-2);
  transition-duration: 0.2s;
}
.prioridad-1 {
  background-color: var(--color-base-prioridad-1);
  transition-duration: 0.2s;
}

#oculto {
  display: none;
}

@media (min-width: 450px) {
  .titulo {
    font-size: 65px;
  }
}
